<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Notes </ion-title>
    <ion-button color="primary" (click)="openModal()" slot="end">
      Create
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let dataset of data">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{ dataset.value }}</ion-label>
        <ion-icon
          name="create-outline"
          slot="end"
          (click)="openModal(dataset)"
        ></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="delete(dataset._id)" color="danger">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-modal [isOpen]="modal">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>{{ mode }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
          <ion-fab-button (click)="closeModal()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <div id="container">
          <ion-label>Add Note</ion-label>
          <ion-input [formControl]="name" placeholder="Type here"></ion-input>
          <ion-button (click)="submit()">Submit</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
